table {
    font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
    border-spacing: 0;
  }

  table {
    margin: auto;
  }

  table,
  td,
  th {
    padding: 7px;
    text-align: center;
    border: 1px solid rgb(8, 48, 107);
  }

  th {
    background-color: rgb(8, 81, 156);
    color: white;
  }

  .bordered { border: 6px solid red }